<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{todo_list_detail.name}}</h1>
            <h2>Tasks</h2>
            <p><a href="{% url "todo_list_update" todo_list_detail.id %}">update</a></p>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todos_item in todo_list_detail.items.all %}
                        <tr>
                            <!-- <td><a href="{% url "todo_list_detail" id=todos_item.id %}"></a></td> -->
                            <td><a>{{ todos_item.task }}</a></td>
                            <td>{{ todos_item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
