<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p><a href="{% url "todo_list_create" %}">create</a></p>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todos_list_detail in todos_list %}
                        <tr>
                            <td><a href="{% url "todo_list_detail" id=todos_list_detail.id %}"> {{ todos_list_detail.name }}</a></td>
                            <td>{{ todo_list.todoitem_set.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
